@font-face {
    font-family: 'Raleway';
    src: url('./assets/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/Raleway/static/Raleway-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/Raleway/static/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

head {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    position: relative;
}

body {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    font-family: "Raleway", serif;
    font-weight: light;
    font-style: normal;
    color: #1E1E1E;
    background-color: #F8F5F2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.default-divider {
    margin: 20px;
}

.top-left-image {
    width: 69px;
    height: 69px;
    background-image: url('./assets/Autumn.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-text {
    font-size: 32px;
    /* Reduced by 3 units */
    display: block;
    line-height: 1.1;
}

.experience-text {
    font-style: italic;
    font-size: 17px;
    /* Reduced by 3 units */
    display: block;
}

.grey-text {
    color: grey;
}

.projects-text {
    font-size: 27px;
    /* Reduced by 3 units */
    text-align: center;
    display: block;
}

.col-12 {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.img-fluid {
    border-radius: 8px;
}

.scrolled {
    /* opacity: 0; Initial opacity for fade-in effect */
    margin-left: 10px;
    margin-right: 10px;
    transition: opacity 1s ease-in-out; /* Transition for fade-in and fade-out */
    width: 300px;
}

.image-container {
    overflow: hidden;
    position: relative;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.zoom-image {
    display: block;
    width: 100%;
    transition: transform 0.5s ease;
    border-radius: 8px;
}

.image-container:hover .zoom-image {
    transform: scale(1.1);
    border-radius: 8px;
}

.project-name {
    font-size: 17px;
    /* Reduced by 3 units */
    line-height: 0;
}

.nopaddingcontainer {
    padding: 0px;
    margin: 0px;
}

.projects-specifcation {
    font-style: italic;
    font-size: 15px;
    /* Reduced by 3 units */
    color: grey;
}

.contacts-text {
    font-size: 15px;
    /* Reduced by 3 units */
    text-align: center;
    display: block;
    line-height: 1.2;
}

.bottom-divider {
    margin: 40px;
}

.nobottommargin {
    margin-bottom: 5px;
}

.italic-text {
    font-style: italic;
}

.outer {
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; /* Enable scroll snapping */
}

.outer div {
    /* width: 60%; */
    
    float: none;
    height: 100%;
    margin: 0;
    display: inline-block;
    zoom: 1;
    scroll-snap-align: center; /* Snap to center */
}

/* Media query for smaller screens */

@media (max-width: 1080px) {
    head,
    body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .top-left-image {
        width: 59px;
        height: 59px;
        background-image: url('./assets/Autumn.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .intro-text {
        font-size: 25px;
        /* Reduced by 3 units */
    }
    .experience-text {
        font-size: 15px;
        /* Reduced by 3 units */
    }
    .projects-text {
        font-size: 21px;
        /* Reduced by 3 units */
    }
    .project-name {
        font-size: 15px;
        /* Reduced by 3 units */
    }
    .projects-specifcation {
        font-size: 15px;
        /* Reduced by 3 units */
        color: grey;
        line-height: 2;
    }
    .contacts-text {
        font-size: 13px;
        /* Reduced by 3 units */
    }
}