head {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    position: relative;
}

body {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    font-family: 'Afacad', sans-serif;
    color: #1E1E1E;
    background-color: #F8F5F2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.default-divider {
    margin: 20px;
}

.top-left-image {
    width: 69px;
    height: 69px;
    background-image: url('./assets/Autumn.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-text {
    font-size: 35px;
    display: block;
    line-height: 1.1;
}

.experience-text {
    font-style: italic;
    font-size: 20px;
    display: block;
}

.grey-text {
    color: grey;
}

.projects-text {
    font-size: 30px;
    text-align: center;
    display: block;
}

.col-12 {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.img-fluid {
    border-radius: 8px;
}

.image-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.zoom-image {
    display: block;
    width: 100%;
    transition: transform 0.5s ease;
}

.image-container:hover .zoom-image {
    transform: scale(1.1);
}

.project-name {
    font-size: 20px;
    line-height: 2;
}

.contacts-text {
    font-size: 18px;
    text-align: center;
    display: block;
    line-height: 1.2;
}

.bottom-divider {
    margin: 40px;
}


/* Media query for smaller screens */

@media (max-width: 1080px) {
    head,
    body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .top-left-image {
        width: 59px;
        height: 59px;
        background-image: url('./assets/Autumn.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .intro-text {
        font-size: 28px;
    }
    .experience-text {
        font-size: 18px;
    }
    .projects-text {
        font-size: 24px;
    }
    .project-name {
        font-size: 18px;
    }
    .contacts-text {
        font-size: 16px;
    }
}